<a href="https://colab.research.google.com/github/ricnrdo/CSC221_rpuma001/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
bicycles = ['trek','cannondale','redline','specialized']
# print(bicycles)
# print(bicycles[0])
# print(bicycles[0].title())
# print(bicycles[1])
# print(bicycles[3])
# print(bicycles[-1])

message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [14]:
# Try it yourself
# 3-1
names = ["alexa", "kim", "gilmar", "sandra", "robert"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

alexa
kim
gilmar
sandra

In [18]:
# 3-2
for n in names:
  message = f"Hi, {n.title()}! How was your day?"
  print(message)

Hi, Alexa! How was your day?
Hi, Kim! How was your day?
Hi, Gilmar! How was your day?
Hi, Sandra! How was your day?
Hi, Robert! How was your day?

In [20]:
# 3-3
transportation = ["tesla s", "electric scooter", "jeep wrangler"]

for t in transportation:
  print(f"I would like to own a {t.title()}")

I would like to own a Tesla S
I would like to own a Electric Scooter
I would like to own a Jeep Wrangler

In [44]:
# motorcycles.py
# motorcycles = ["honda", "yamaha", "suzuki"]
# print(motorcycles)

# motorcycles[0] = 'ducati'
# print(motorcycles)

# motorcycles.append('ducati')
# print(motorcycles)

# motorcycles = []

# motorcycles.append('honda')
# motorcycles.append('yamaha')
# motorcycles.append('suzuki')

# print(motorcycles)

# Inserting Elements into a list
motorcycles = ['honda', 'yamaha', 'suzuki']

# motorcycles.insert(0, 'ducati')
# print(motorcycles)

# del motorcycles[0] # or [1]
# print(motorcycles)

# pop()
# popped_motorcycles = motorcycles.pop()
# print(motorcycles)
# print(popped_motorcycles)

# last_owned = motorcycles.pop() # could also put an index like (0)
# print(f"The last motorcycle I owned was a {last_owned.title()}.")

# Removing an item by value

# print(motorcycles)
# motorcycles.remove('suzuki')
# print(motorcycles)

too_expensive = 'suzuki'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha']

A Suzuki is too expensive for me.

In [4]:
# Try it yourself

# 3-4
people_invited_to_dinner = ["alexa", "kim", "adeeba", "josh"]
print(f"{people_invited_to_dinner[0].title()}, do you want to go out to dinner?")
print(f"{people_invited_to_dinner[1].title()}, do you want to go out to dinner?")
print(f"{people_invited_to_dinner[2].title()}, do you want to go out to dinner?")



# 3-5

not_able_to_attend = people_invited_to_dinner.pop(-1)

print(f"\nSadly {not_able_to_attend.title()} cannot make it to dinner tonight\n")

people_invited_to_dinner.append("shane")

print(f"{people_invited_to_dinner[0].title()}, do you want to go out to dinner?")
print(f"{people_invited_to_dinner[1].title()}, do you want to go out to dinner?")
print(f"{people_invited_to_dinner[2].title()}, do you want to go out to dinner?")
print(f"{people_invited_to_dinner[3].title()}, do you want to go out to dinner?\n\n")



# 3-6

people_invited_to_dinner.insert(0, "jennifer")
people_invited_to_dinner.insert(2, "dakota")
people_invited_to_dinner.append("may")

for person in people_invited_to_dinner:
  print(f"{person.title()}, do you want to go out to dinner?")

print("I found a bigger table! We can have more people over!\n\n")



# 3-7

print("The table won't arrive on time. I can only invite two people for dinner")

uninvited = people_invited_to_dinner.pop(6)
print(f"Sorry {uninvited}, I cannot invite you this time to dinner")

uninvited = people_invited_to_dinner.pop(5)
print(f"Sorry {uninvited}, I cannot invite you this time to dinner")

uninvited = people_invited_to_dinner.pop(4)
print(f"Sorry {uninvited}, I cannot invite you this time to dinner")

uninvited = people_invited_to_dinner.pop(3)
print(f"Sorry {uninvited}, I cannot invite you this time to dinner")

uninvited = people_invited_to_dinner.pop(2)
print(f"Sorry {uninvited}, I cannot invite you this time to dinner\n\n")

print(f"{people_invited_to_dinner[0]}, you are still invited to dinner")
print(f"{people_invited_to_dinner[1]}, you are still invited to dinner\n\n")

# del people_invited_to_dinner[0]
# del people_invited_to_dinner[0]

print(people_invited_to_dinner)

Alexa, do you want to go out to dinner?
Kim, do you want to go out to dinner?
Adeeba, do you want to go out to dinner?

Sadly Josh cannot make it to dinner tonight

Alexa, do you want to go out to dinner?
Kim, do you want to go out to dinner?
Adeeba, do you want to go out to dinner?
Shane, do you want to go out to dinner?


Jennifer, do you want to go out to dinner?
Alexa, do you want to go out to dinner?
Dakota, do you want to go out to dinner?
Kim, do you want to go out to dinner?
Adeeba, do you want to go out to dinner?
Shane, do you want to go out to dinner?
May, do you want to go out to dinner?
I found a bigger table! We can have more people over!


The table won't arrive on time. I can only invite two people for dinner
Sorry may, I cannot invite you this time to dinner
Sorry shane, I cannot invite you this time to dinner
Sorry adeeba, I cannot invite you this time to dinner
Sorry kim, I cannot invite you this time to dinner
Sorry dakota, I cannot invite you this time to dinner


jennifer, you are still invited to dinner
alexa, you are still invited to dinner


['jennifer', 'alexa']

In [51]:
# sort()
motorcycles.sort()
print(motorcycles)

motorcycles.sort(reverse=True)
print(motorcycles)

# print(sorted(motorcycles)) # not permanent change
# print(motorcycles)

print(len(motorcycles))

['honda', 'yamaha']
['yamaha', 'honda']
2

In [73]:
# 3-8

locations_to_visit = ["Italy", "Spain", "France", "Niagara Falls", "Quebec", "Berlin", "London"]
print(f"Original order: {locations_to_visit}\n")


print(sorted(locations_to_visit))
print(f"\nOriginal order: {locations_to_visit}\n")


print(sorted(locations_to_visit, reverse=True))
print(f"\nOriginal order: {locations_to_visit}\n")


print("Used reverse():")
locations_to_visit.reverse()
print(f"\nOriginal order: {locations_to_visit}\n")


print("Used reverse() (again):")
locations_to_visit.reverse()
print(f"\nOriginal order: {locations_to_visit}\n")

locations_to_visit.sort()
print(f"\nOriginal order: {locations_to_visit}\n")

locations_to_visit.sort(reverse=True)
print(f"\nOriginal order: {locations_to_visit}\n")

Original order: ['Italy', 'Spain', 'France', 'Niagara Falls', 'Quebec', 'Berlin', 'London']

['Berlin', 'France', 'Italy', 'London', 'Niagara Falls', 'Quebec', 'Spain']

Original order: ['Italy', 'Spain', 'France', 'Niagara Falls', 'Quebec', 'Berlin', 'London']

['Spain', 'Quebec', 'Niagara Falls', 'London', 'Italy', 'France', 'Berlin']

Original order: ['Italy', 'Spain', 'France', 'Niagara Falls', 'Quebec', 'Berlin', 'London']

Used reverse():

Original order: ['London', 'Berlin', 'Quebec', 'Niagara Falls', 'France', 'Spain', 'Italy']

Used reverse() (again):

Original order: ['Italy', 'Spain', 'France', 'Niagara Falls', 'Quebec', 'Berlin', 'London']


Original order: ['Berlin', 'France', 'Italy', 'London', 'Niagara Falls', 'Quebec', 'Spain']


Original order: ['Spain', 'Quebec', 'Niagara Falls', 'London', 'Italy', 'France', 'Berlin']

In [7]:
# 3-9

print(f"I am inviting {len(people_invited_to_dinner)} people over to dinner")

I am inviting 2 people over to dinner

In [17]:
# 3-10

countries = ["italy", "uk", "france", "qatar", "argentina", "greece"]

print(countries[0].title())
countries.append("south korea")
print(countries)
countries.insert(3, "spain")
print(countries)

del countries[3]
print(countries)

countries.pop()
print(countries)

countries.remove("qatar")
print(countries)

countries.sort()
print(countries)

countries.sort(reverse=True)
print(countries)

print(sorted(countries))

countries.reverse()
print(countries)

len(countries)

# 3-11
# Already got index error and fixed it in prior code.

Italy
['italy', 'uk', 'france', 'qatar', 'argentina', 'greece', 'south korea']
['italy', 'uk', 'france', 'spain', 'qatar', 'argentina', 'greece', 'south korea']
['italy', 'uk', 'france', 'qatar', 'argentina', 'greece', 'south korea']
['italy', 'uk', 'france', 'qatar', 'argentina', 'greece']
['italy', 'uk', 'france', 'argentina', 'greece']
['argentina', 'france', 'greece', 'italy', 'uk']
['uk', 'italy', 'greece', 'france', 'argentina']
['argentina', 'france', 'greece', 'italy', 'uk']
['argentina', 'france', 'greece', 'italy', 'uk']

5

In [27]:
for num in range(60, 86):
  if num % 7 == 0:
    cube = num ** 3
    print(cube)
  else:
    print(num)

print("\nSolve Equation:\ny = 7.4x + 51 \n")
compute = [40, 50, 120, -8, 6]

for x in compute:
  y = 7.4*x + 51
  print(f"x = {x}\nResult: {y}\n")

60
61
62
250047
64
65
66
67
68
69
343000
71
72
73
74
75
76
456533
78
79
80
81
82
83
592704
85

Solve Equation:
y = 7.4x + 51

x = 40
Result: 347.0

x = 50
Result: 421.0

x = 120
Result: 939.0

x = -8
Result: -8.200000000000003

x = 6
Result: 95.4