<a href="https://colab.research.google.com/github/ricnrdo/CSC221_rpuma001/blob/main/Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ricardo Puma
# Assignment 16-17

In [ ]:
#1.1
print("Hello World")

6000 + 4523.50 + 134.25

# '_' will add the result of the previous calculation to 8192.75
_ + 8192.75

Hello World

18850.5

In [ ]:
#1.3
print(type(42))
print(type(4.2))
print(type('forty-two'))
print(type(True))

# You can define variable types but python won't actually enforce it. Meaning You can put string in an int var.
x: int = 42
print(x)

# interest.py
principal = 1000
rate = 0.05
numyears = 5
year = 1

while year <= numyears:
  principal = principal * (1 + rate)

  # Formated string. 0.2f means to decimal points. No idea what >3d does.
  print(f'{year:>3d} {principal:0.2f}')
  year += 1

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
42
  1 1050.00
  2 1102.50
  3 1157.62
  4 1215.51
  5 1276.28

In [ ]:
# 1.4

# Binary code
a = 0b11001001
mask = 0b11110000

# Gets result where both a & mask have 1s; 0b11000000. Then it shifts the result 4 positions to the left
x = (a & mask) >> 4
print(x)

x = 1
y = 2
n = 3

x = x + 1
y = y * n

print(f'{x=}')
print(f'{y=}')

# add 1 to itself
x += 1

# multiply n to itself
y *= n

print(f'{x=}')
print(f'{y=}')

12
x=2
y=6
x=3
y=18

In [ ]:
# 1.5
a = 3
b = 2

if a < b:
  # print('Computer says Yes')
  pass
else:
  print('Computer says No')

# compares if suffix equals to x string. If its true then it sets a value to content var, if false it raises an exception.
suffix = '.htm'
if suffix == '.htm':
  content = 'text/html'
elif suffix == '.jpg':
  content = 'image/jpeg'
elif suffix == '.png':
  content = 'image/png'
else:
  # !r lo pone en comillas
  raise RuntimeError(f"Unknown content type {suffix!r}")

print(content)

# it sets maxval to a if a is greater than be if not then it sets maxval equal to b
maxval = a if a > b else b

# Does the same thing as the line above
if a > b:
  maxval = a
else:
  maxval = b

print(maxval, "\n")

x = 0
# Sets/Changes the value of x while looping
while (x := x + 1) < 10:
  print(x)

print()
x = 0
while x < 10:
  x += 1
  if x == 5:
    # break
    continue
  # print(x)
  # x += 1

print("Done")

Computer says No
text/html
3

1
2
3
4
5
6
7
8
9

Done

In [ ]:
# 1.6
# All the above are acceptable strings
a = 'Hello World'
b = "Python is groovy"
c = '''Computer says no.'''
d = """Computer still says no."""

print(a)
print(b)
print(c)
print(d)

# Using triple quotes you can print multi line strings without throwing an error
print('''
Using triple quotes for this print
''')

# Another way of concatenating strings
print(
    'Adjacent strings\n'
    'concatenated\n'
    'into a single string'
)

year = 2005
principal = 10.20343556

base_year = 2020
# print(f'\n{year:>3d} {principal:0.2f}')
print(f'\n{base_year + year:>3d} {principal:0.2f}')

# Different ways of formating strings. Does the same as the one above ^
print('{0:>3d} {1:0.2f}'.format(year, principal))
print('%3d %0.2f' % (year, principal))

print()

# Get the length of a
print(len(a))

# Store the 5th value of variable a in b
b = a[4]

# Store the last value of var a in b
c = a[-1]

print(f"{b=} {c=}")

# Store the first val/char until the 4th val/char in c
c = a[:5]

# Store the 6th val/char until the end in d
d = a[6:]

# Store the 3rd val/char until the 7th val/char in e
e = a[3:8]

# Store the val/char in the fifth position (from right to left) until the end
f = a[-5:]

print(f"{c=} {d=} {e=} {f=}")

# Finds the word 'Hello' in a and replaces it with 'Hello Cruel'
g = a.replace('Hello', 'Hello Cruel')

print(f'{g}\n')

# adds 'ly' to a (as long as a is also a string)
g = a + 'ly'
x = '37'
y = '42'
z = x + y # Does not calculate but rather x and y join/concatenate

# To calculate we have to convert x and y to ints
z = int(x) + int(y)
print(z)

x = 35
s = 'The value of x is ' + str(x)
print(s)
s = 'The value of x is ' + repr(x)
print(s)
# formats x
s = 'The value of x is ' + format(x, '4d')
print(s)

Hello World
Python is groovy
Computer says no.
Computer still says no.

Using triple quotes for this print

Adjacent strings
concatenated
into a single string

4025 10.20
2005 10.20
2005 10.20

11
b='o' c='d'
c='Hello' d='World' e='lo Wo' f='World'
Hello Cruel World

79
The value of x is 35
The value of x is 35
The value of x is   35

In [ ]:
%%file data.txt

This is a file
that contains
some random
text

Writing data.txt

In [ ]:
# 1.7
# opens a text file and closes it automatically
with open('data.txt') as file:
  for line in file:
    print(line, end='')


# Same as the one above but this is "bad" because if you forget to close the file the program
# will have issues/bugs at any point
file = open('data.txt')
for line in file:
  print(line, end='')
file.close()

print("\nRead it all at once:")
with open('data.txt') as file:
  data = file.read()
  print(data)


print("\nRead one chunk at a time instead of all of it at once:")
with open('data.txt') as file:
  while (chunk := file.read(10)):
    print(chunk, end='')


# Read the file in different parts at a time. Instead of all at once
with open('data.txt') as file:
  while True:
    chunk = file.read(100)
    if not chunk:
      break
    print(chunk, end='')


year = 20
numyear = 50
rate = 0.2
with open('out.txt', 'wt') as out:
  while year <= numyear:
    principal = principal * (1 + rate)
    # print(f'{year:>3d} {principal:0.2f}', file=out)
    out.write(f"{year:3d} {principal:0.2f}\n")
    year += 1

with open('data.txt', encoding='latin-1') as file:
  data = file.read()

This is a file
that contains
some random
text.

This is a file
that contains
some random
text.

Read it all at once:

This is a file
that contains
some random
text.


Read one chunk at a time instead of all of it at once:

This is a file
that contains
some random
text.

This is a file
that contains
some random
text.

In [ ]:
# 1.8

names = ['Dave', 'Paula', 'Thomas', 'Lewis']

print(names)
a = names[2]
names[2] = 'Tom'
print(names)
print(names[-1])

# Add a value to a list at the end
names.append('Alex')

# Add a value to a list in a specific index
names.insert(2, 'Aya')
print(f"{names}\n")

# Go through every name in names list and print it
for name in names:
  print(name)

b = names[0:2]
c = names[2:]
names[1] = 'Becky'
names[0:2] = ['Dave', 'Mark', 'Jeff']
print(f"\n{b = }")
print(f"{c = }")
print(f"{names = }")

a = ['x', 'y'] + ['z', 'z', 'y']
print(f"\n{a}")

# Create a list of Dave. It will make a list like: 'D', 'a', 'v', 'e'
letter = list('Dave')
print(letter)

# A list that contains lists and lists in the list.
a = [1, 'Dave', 3.14, ['Mark', 7, 9, [100, 101]], 10]
one_dimension = a[1]
two_dimensions = a[3][2]
three_dimensions = a[3][3][1]

print(f"{one_dimension = }")
print(f"{two_dimensions = }")
print(f"{three_dimensions = }")

# Trows an exception
# import sys

# if len(sys.argv) != 2:
#   raise SystemExit(f"Usage: {sys.argv[0]} filename")

# rows = []
# with open(sys.argv[1], 'rt') as file:
#   for line in file:
#     rows.append(line.split(','))

['Dave', 'Paula', 'Thomas', 'Lewis']
['Dave', 'Paula', 'Tom', 'Lewis']
Lewis
['Dave', 'Paula', 'Aya', 'Tom', 'Lewis', 'Alex']

Dave
Paula
Aya
Tom
Lewis
Alex

b = ['Dave', 'Paula']
c = ['Aya', 'Tom', 'Lewis', 'Alex']
names = ['Dave', 'Mark', 'Jeff', 'Aya', 'Tom', 'Lewis', 'Alex']

['x', 'y', 'z', 'z', 'y']
['D', 'a', 'v', 'e']
one_dimension = 'Dave'
two_dimensions = 9
three_dimensions = 101

SystemExit: ignored

In [ ]:
# 1.9

# Tuples
holding = ('GOOG', 100, 490.10)
address = ('www.python.org', 80)

item = 'a'
a = ()
b = (item,)
print(a, b)

# Break the tuple and store each value in the following variables
name, shares, price = holding
host, port = address

print(f"{name=} {shares=} {price=}")
print(f"{host=} {port=}")

() ('a',)
name='GOOG' shares=100 price=490.1
host='www.python.org' port=80

In [2]:
%%file portfolio.csv
name,shares,price
AMC,29,294
TSLA,383,219.86
AAPL,10,176.65
SQ,2,48.68

Writing portfolio.csv

In [ ]:
# 1.9
filename = 'portfolio.csv'

portfolio = []
with open(filename) as file:
  next(file)
  for line in file:
    row = line.split(',')
    name = row[0]
    shares = int(row[1])
    price = float(row[2])
    holding = (name, shares, price)
    portfolio.append(holding)

print(portfolio)
print(portfolio[0])
print(portfolio[0][1])

total = 0.0

for name, shares, price in portfolio:
  total += shares * price

# That ^ or this:
total = sum([shares * price for _, shares, price in portfolio])

[('AMC', 29, 294.0), ('TSLA', 383, 219.86), ('AAPL', 10, 176.65), ('SQ', 2, 48.68)]
('AMC', 29, 294.0)
29
94596.24

In [ ]:
# 1.10

names1 = { 'IBM', 'MSFT', 'AA' }
names2 = set(['IBM', 'MSFT', 'HPE', 'IBM', 'CAT'])

print(names1)
print(names2)

r = set()

t = {"394", "Marie", "Table", "France", "IBM"}
s = {"France", "394", "Water", "Keyboard", }

a = t | s
b = t & s
c = t - s
d = s - t
e = t ^ s

print(f"{a=}\n{b=}\n{c=}\n{d=}\n{e=}")

t.add('DIS')
s.update({'JJ', 'GE', 'ACME'})

print(t)
print(s)

t.remove('IBM')
s.discard('SCOX')

print(t)
print(s)

{'IBM', 'AA', 'MSFT'}
{'IBM', 'HPE', 'CAT', 'MSFT'}
a={'IBM', '394', 'Table', 'France', 'Keyboard', 'Marie', 'Water'}
b={'France', '394'}
c={'IBM', 'Table', 'Marie'}
d={'Keyboard', 'Water'}
e={'IBM', 'Table', 'Keyboard', 'Marie', 'Water'}
{'IBM', '394', 'Marie', 'DIS', 'Table', 'France'}
{'Keyboard', '394', 'ACME', 'JJ', 'France', 'Water', 'GE'}
{'394', 'Marie', 'DIS', 'Table', 'France'}
{'Keyboard', '394', 'ACME', 'JJ', 'France', 'Water', 'GE'}

In [ ]:
# 1.11
s = {
    'name' : 'GOOG',
    'shares' : 100,
    'price' : 490.10
}

print(s)

name = s['name']
cost = s['shares'] * s['price']
print(name, cost)
print()

s['shares'] = 75
s['date'] = '2007-06-07'

print(s)

prices = {
    'GOOG' : 490.1,
    'AAPL' : 123.5,
    'IBM' : 91.5,
    'MSFT' : 52.13
}

print(prices)

p = prices['IBM']

if 'IBM' in prices:
    p = prices['IBM']
else:
    p = 0.0

p = prices.get('IBM', 0.0)

del prices['GOOG']

print(prices)

# prices = {}
# prices = dict()

portfolio = [
    ('ACME', 50, 92.34),
    ('IBM', 75, 102.25),
    ('PHP', 40, 74.50),
    ('IBM', 50, 124.75)
]

total_shares = { s[0]: 0 for s in portfolio }

for name, shares, _ in portfolio:
  total_shares[name] += shares

print("\nTotal shares:")
print(total_shares)

pairs = [('IBM', 125), ('ACME', 50), ('PHP', 40)]
d = dict(pairs)

print()
print(pairs)
print(d)

syms = list(prices)

print()
print(syms)

syms = prices.keys()

for sym, price in prices.items():
    print(f'{sym} = {price}')

{'name': 'GOOG', 'shares': 100, 'price': 490.1}
GOOG 49010.0

{'name': 'GOOG', 'shares': 75, 'price': 490.1, 'date': '2007-06-07'}
{'GOOG': 490.1, 'AAPL': 123.5, 'IBM': 91.5, 'MSFT': 52.13}
{'AAPL': 123.5, 'IBM': 91.5, 'MSFT': 52.13}

Total shares:
{'ACME': 50, 'IBM': 125, 'PHP': 40}

[('IBM', 125), ('ACME', 50), ('PHP', 40)]
{'IBM': 125, 'ACME': 50, 'PHP': 40}

['AAPL', 'IBM', 'MSFT']
AAPL = 123.5
IBM = 91.5
MSFT = 52.13

In [ ]:
# 1.12

for n in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
  print(f"2 to the {n} power is {2**n}")

print()

for n in range(1, 10):
  print(f"2 to the {n} powe is {2**n}")

print()

one_val_range = [x for x in range(5)]
two_val_range = [x for x in range(1, 8)]
three_val_range = [x for x in range(0, 14, 3)]
negative_val_range = [x for x in range(8, 1, -1)]

print(one_val_range)
print(two_val_range)
print(three_val_range)
print(negative_val_range)

print()

message = 'Hello World'
for c in message:
  print(c)

print()

names = ['Dave', 'Mark', 'Ann', 'Phil']
for name in names:
  print(name)

print()

prices = {'GOOG': 490.10, 'IBM': 91.50, 'AAPL': 123.15}

for key in prices:
  print(key, '=', prices[key])

2 to the 1 power is 2
2 to the 2 power is 4
2 to the 3 power is 8
2 to the 4 power is 16
2 to the 5 power is 32
2 to the 6 power is 64
2 to the 7 power is 128
2 to the 8 power is 256
2 to the 9 power is 512

2 to the 1 powe is 2
2 to the 2 powe is 4
2 to the 3 powe is 8
2 to the 4 powe is 16
2 to the 5 powe is 32
2 to the 6 powe is 64
2 to the 7 powe is 128
2 to the 8 powe is 256
2 to the 9 powe is 512

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[0, 3, 6, 9, 12]
[8, 7, 6, 5, 4, 3, 2]

H
e
l
l
o

W
o
r
l
d

Dave
Mark
Ann
Phil

GOOG = 490.1
IBM = 91.5
AAPL = 123.15

In [ ]:
%%file foo.txt
This is a
file named
foo.txt

Writing foo.txt

In [ ]:
# 1.12
with open('foo.txt') as file:
  for line in file:
    print(line, end='')

This is a
file named
foo.txt

In [1]:
# 1.13

# def remainder(a, b):
def remainder(a: int, b:int) -> int:
  q = a // b
  r = a - q * b
  return r

result = remainder(40, 15)
print(result)

def divide(a, b):
  q = a // b
  r = a - q * b
  return (q, r)

quotient, remainder = divide(1456, 33)

print(quotient, remainder)

def connect(hostname, port, timeout=300):
  print(f"Your hostname is {hostname}")
  print(f"Your port is {port}")
  print(f"Timeout: {timeout}")

connect('www.python.org', 80)

10
44 4
Your hostname is www.python.org
Your port is 80
Timeout: 300

In [7]:
# 1.14

portfolio = []
with open('portfolio.csv') as file:
  next(file)
  for line in file:
    row = line.split(',')
    try:
      name = row[0]
      shares = int(row[1])
      price = float(row[2])
      holding = (name, shares, price)
      portfolio.append(holding)
    except ValueError as err:
      print('Bad row:', row)
      print('Reason:', err)

print(portfolio)

[('AMC', 29, 294.0), ('TSLA', 383, 219.86), ('AAPL', 10, 176.65), ('SQ', 2, 48.68)]

In [9]:
# 1.15

# raise SystemExit()
raise SystemExit("Something is wrong")

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [28]:
# 1.16
items = [37, 42]
# items.append(73)

dir(items)

items.__add__([73, 101])

class Stack:
  def __init__(self):
    self._items = [ ]

  def push(self, item):
    self._items.append(item)

  def pop(self):
    return self._items.pop()

  def __repr__(self):
    return f'<{type(self).__name__} at 0x{id(self):x}, size={len(self)}>'

  def __len__(self):
    return len(self._items)

# stacks = Stack()
# result = stacks.push(4)
# length_stacks = stacks.__len__()
# print(stacks._items)
# print(stacks.__repr__)
# print(length_stacks)

s = Stack()
s.push('Dave')
s.push([3, 4, 5])
len(s)

42

In [29]:
# 1.16
class MyStack(Stack):
  def swap(self):
    a = self.pop()
    b = self.pop()
    self.push(a)
    self.push(b)

s = MyStack()
s.push('Dave')
s.push(42)
s.swap()
s.pop()
s.pop()

42

In [30]:
# 1.16
class NumericStack(Stack):
  def push(self, item):
    if not isinstance(item, (int, float)):
      raise TypeError('Expected an int or float')
    super().push(item)

s = NumericStack()
s.push(42)
s.push('Dave')

TypeError: ignored

In [31]:
# 1.16
class Calculator:
  def __init__(self):
    self._stack = Stack()

  def push(self, item):
    self._stack.push(item)

  def pop(self):
    return self._stack.pop()

  def add(self):
    self.push(self.pop() + self.pop())

  def mul(self):
    self.push(self.pop() * self.pop())

  def sub(self):
    right = self.pop()
    self.push(self.pop() - right)

  def div(self):
    right = self.pop()
    self.push(self.pop() / right)

calc = Calculator()
calc.push(2)
calc.push(3)
calc.push(4)
calc.mul()
calc.add()
calc.pop()

14

In [33]:
%%file readport.py
def read_portfolio(filename):
  portfolio = []
  with open(filename) as file:
    next(file)
    for line in file:
      row = line.split(',')
      try:
        name = row[0]
        shares = int(row[1])
        price = float(row[2])
        holding = (name, shares, price)
        portfolio.append(holding)
      except ValueError as err:
        print('Bad row:', row)
        print('Reason:', err)

  return portfolio

Writing readport.py

In [34]:
# 1.17
import readport
def portfolio_cost(filename):
  port = readport.read_portfolio(filename)
  return sum(shares * price for _, shares, price in port)

portfolio_cost('portfolio.csv')

94596.24

In [37]:
# 1.18

import csv

def read_portfolio(filename):
  portfolio = []
  with open(filename) as file:
    rows = csv.reader(file)
    for row in rows:
      try:
        name = row[0]
        shares = int(row[1])
        price = float(row[2])
        holding = (name, shares, price)
        portfolio.append(holding)
      except ValueError as err:
        print('Bad row:', row)
        print('Reason:', err)
  return portfolio

def main():
  portfolio = read_portfolio('portfolio.csv')
  for name, shares, price in portfolio:
    print(f'{name:>10s} {shares:10d} {price:10.2f}')

if __name__ == '__main__':
  main()

def main(argv):
  if len(argv) == 1:
    filename = input('Enter filename: ')
  elif len(argv) == 2:
    filename = argv[1]
  else:
    raise SystemExit(f'Usage: {argv[0]} [ filename ]')
  portfolio = read_portfolio(filename)
  for name, shares, price in portfolio:
    print(f'{name:>10s} {shares:10d} {price:10.2f}')

if __name__ == '__main__':
  import sys
  main(sys.argv)

Bad row: ['name', 'shares', 'price']
Reason: invalid literal for int() with base 10: 'shares'
       AMC         29     294.00
      TSLA        383     219.86
      AAPL         10     176.65
        SQ          2      48.68

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)