<a href="https://colab.research.google.com/github/ricnrdo/CSC221_rpuma001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
# Already have experiences with these examples
# Try it yourself

# 4-1
pizzas = ["pepperoni", "buffalo chicken", "cheese"]
for pizza in pizzas:
  # print(pizza)
  message = f"I like {pizza} pizza."
  print(message)
print("\nI really love pizza!")

I like pepperoni pizza.
I like buffalo chicken pizza.
I like cheese pizza.

I really love pizza!

In [7]:
animals = ["dog", "cat", "rat"] # They all have 4 legs lol
for animal in animals:
  # print(animal)
  message = f"A {animal} would make a great pet"
  print(message)

print(f"\nAll these animals have a tail")

A dog would make a great pet
A cat would make a great pet
A rat would make a great pet

All these animals have a tail

In [9]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
squares = []
for number in range(1, 11):
  square = number ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits) # 0
max(digits) # 9
sum(digits) # 45

45

In [17]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# Try it yourself
# 4-3

for number in range(1, 21):
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [48]:
# 4-4
million = [number for number in range(1, 1000001)]
# print(million)

# 4-5
min(million) # output: 1
max(million) # output: 1000000
sum(million) # 0 seconds

# 4-6
odd_numbers = [number for number in range(1, 20, 3)] # It includes even numbers
for number in odd_numbers:
  print(number)

# 4-7
print("\n")
multiples_of_three = [multiple for multiple in range(3, 31, 3)]
for n in multiples_of_three:
  print(n)

# 4-8
print("\n")
cubes_list = [cubes**3 for cubes in range(1, 11)]
for cube in cubes_list:
  print(cube)

# 4-9: already did that in 4-8 (I think)

1
4
7
10
13
16
19


3
6
9
12
15
18
21
24
27
30


1
8
27
64
125
216
343
512
729
1000

In [66]:
# 4-10

print(f"The first three items in the list are: {million[:3]}")
middle_index = len(million) // 2
for n in range(middle_index, middle_index + 3):
  print(million[n])
print(f"The first three items in the list are: {million[-3:]}")

# 4-11
friend_pizzas = pizzas[:]
pizzas.append("hawaiian")
friend_pizzas.append("veggie")

print("\nMy favorite pizzas are:")
for pizza in pizzas:
  print(pizza)

print("My friends favorite pizzas are:")
for pizza in friend_pizzas:
  print(pizza)

# 4-12: redundant
# 4-13: I already know how to do that.
# 4-14: done
# 4-15: I already went through my code and I did my best.

The first three items in the list are: [1, 2, 3]
500001
500002
500003
The first three items in the list are: [999998, 999999, 1000000]

My favorite pizzas are:
pepperoni
buffalo chicken
cheese
hawaiian
My friends favorite pizzas are:
pepperoni
buffalo chicken
cheese
veggie

In [79]:
# Factorials
def factorial(n):
  factorials_of_n = [i for i in range(1, n + 1)]
  product = 1

  for x in factorials_of_n:
    product *= x
  return product

# Special factorials
def special_factorial(n):
  factorials_of_n = [i for i in range(1, n + 1)]
  product = 1

  if 4 in factorials_of_n:
      factorials_of_n.remove(4)
  if 13 in factorials_of_n:
      factorials_of_n.remove(13)
  if 22 in factorials_of_n:
      factorials_of_n.remove(22)

  for x in factorials_of_n:
    product *= x

  return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

print("\n")

print(special_factorial(5))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000


30